body {
  background: dodgerblue;
}

h3 {
  color: #fff;
}

section {
  width: 800px;
  height: 500px;
  background: #000;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

#swag {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#swag > ul {
  list-style: none;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#swag li {
  width: 12px;
  height: 12px;
}

.unvisited {
  background-color: grey;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.visited {
  background-color: transparent;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.remove-right {
  border-right: 1px solid transparent;
}

.remove-bottom {
  border-bottom: 1px solid transparent;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.maze-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
