body, ul, li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  background: dodgerblue;
}

h3 {
  color: #fff;
}

section {
  width: 800px;
  height: 500px;
  background: #fff;
}

#swag {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#swag > ul {
  list-style: none;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#swag li {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.unvisited {
  background-color: grey;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.visited {
  background-color: transparent;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.remove-right {
  border-right: 1px solid transparent;
}

.remove-bottom {
  border-bottom: 1px solid transparent;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-title {
  font-family: 'Press Start 2P', cursive;
}

.maze-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.algo-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.algo-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.interactive-things {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icons {
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons a {
  cursor: pointer;
}

ul.icons li {
	display: inline-block;
	line-height: 1em;
	padding-left: 0.25em;
  cursor: pointer;
}

.icon {
	text-decoration: none;
	position: relative;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
}

.icon.circle {
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	display: inline-block;
	height: 2em;
	left: 0;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 2em;
}

.icon.circle:hover {
	top: -0.2em;
  background-color: rgba(255, 255, 255, 0.075);
}

.fa-github {
	background: transparent;
	color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.fa-linkedin-square {
	background: transparent;
	color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.fa-angellist {
	background: transparent;
	color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.35);
}
